<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <ul><li v-for="user in users">{{ user.name }}</li></ul>
  </div>
</template>

<script>
export default {
  asyncData({ store }) {
    return store.dispatch('home/send');
  },

  data () {
    return {
      title: "Hello world!",
      users: this.$store.getters['home/getFriends']
    }
  }
}
</script>
